/* stylelint-disable @stylistic/selector-list-comma-newline-after */

/*
* Globals
*/

[data-bs-theme=light] {
  --border-color: #aaa9a9b1;
  --tag-hover-bg-color: #65a895;
  --tag-hover-font-color: #fff;
  --tag-font-color: #fff;
}

[data-bs-theme=dark] {
  --border-color: #484848b1;
  --tag-hover-bg-color: #65a895;
  --tag-hover-font-color: #fff;
  --tag-font-color: #fff;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-md-200 { height: 200; }
@media (min-width: 384) {
  .h-md-200 { height: 200; }
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border:hover {
  background-color: var(--border-color); /* Change this to the desired hover color */
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.title {
  margin: 0; /* Remove default margins to align properly */
  display: flex;
}

.title-with-number {
  display: flex;
  align-items: flex-start;
}

.number {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25em;
  font-weight: 800;
  color: #4d9587; /* Change this to the desired color for the number */
  position: relative;
  margin-right: 10px; /* Adjust spacing between number and title */
  line-height: 1.25;
  top: 0;
  vertical-align: top;
}

.number::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background-color: #4d9587; 
  position: static;
  bottom: -5px; 
  left: 0;
  top: 100%;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the spacing between tags */
}

.tag {
  background-color: #49796b; /* Background color of tags */
  color: var(--tag-font-color); /* Text color of tags */
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tag:hover {
  background-color: var(--tag-hover-bg-color); /* Background color on hover */
  color: var(--tag-hover-font-color); /* Text color on hover */
}