/*
* Globals
*/

[data-bs-theme=light] {
  --bs-primary-text-emphasis: #49796b;
  --bs-primary-text-shadow: #75b798
}

[data-bs-theme=dark] {
  --bs-primary-text-emphasis: #75b798;
  --bs-primary-text-shadow: rgb(255, 255, 255)
}

/* Custom default button */
.btn-light,
/* .btn-light:hover, */
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.text-primary-emphasis {
  color: var(--bs-primary-text-emphasis) !important;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-shadow: -2px 2px 0 var(--bs-primary-text-shadow);
}